<button type="button" class="left fa fa-backward"></button>
<button type="button" class="right fa fa-forward"></button>
<p id="timer"><span id="minutes">25</span>:<span id="seconds">00</span></p>
<p id="message">pomodoro</p>
<ul class="indicators">
  <li class="active"></li>
  <li></li>
</ul>
