// _mixins

@mixin button($font-size, $color, $shadow, $padding-top, $padding-bottom) {
  font-size: $font-size;
  margin: 0;
  padding: 0;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  align-self: center;
  background-color: transparent;
  border: none;
  color: $color;
  width: 100%;
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 3px $shadow;
  }
}
