
.draggable {
  left: 50%;
  transform: translate(-11px, -11px);
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 50%;
  background-color: $primary-dark;
  border: 2px solid $primary-light;
}

.draggable.active {
  background-color: $primary-light;
  border: 2px solid $primary-dark;
  animation-name: breathe;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  cursor: pointer;

  &:hover {
    border: 2px solid $primary-lighter;
  }

  &:active {
    background-color: $primary;
    border: 2px solid $primary-lighter;
  }
}

@keyframes breathe {
  0% {
    box-shadow: 0 0 0 0 $complement;
  }

  100% {
    box-shadow: 0 0 6px $complement;
  }
}
