
.knob {
  top: 0;
  border: 3px solid $primary-light;
  background-color: $primary-dark;
  width: 240px;
  height: 240px;
  border-radius: 50%;

  transform-origin: center;
  transform: rotate(0deg);
}
