

.indicators {
  bottom: -20px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid $complement;
  }

  .active {
    background-color: $complement;
  }
}

.content {

  button {
    @include button(1.5em, $complement, $complement-dark, 0, 0);
    height: 52px;
    line-height: 52px;
    width: auto;
    padding: 0 10px;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}
