
.title {
  color: $complement;
  font-size: 1.1em;
  text-align: center;
  font-weight: 400;
  font-family: monospace;
  height: 34px;
  margin: 0;
  line-height: 34px;
  padding: 0;
  padding-top: 10px;
}
