// _layout

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  position: relative;
}

.face {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-self: center;
}

.knob {
  position: absolute;
}

.draggable {
  position: absolute;
}

.content {
  position: relative;
}

.indicators {
  position: absolute;
}
